In [15]:
import pandas as pd
from pathlib import Path

In [16]:
db_path = Path('Resources/Airbnb_cleaned.csv')

df = pd.read_csv(db_path)

In [17]:
df['neighbourhood group'].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Bronx', 'Staten Island'],
      dtype=object)

In [18]:
df['room type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room'],
      dtype=object)

In [19]:
df.dtypes

Unnamed: 0                          int64
id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
instant_bookable                     bool
cancellation_policy                object
room type                          object
Construction year                   int64
price                               int64
service fee                         int64
minimum nights                      int64
number of reviews                   int64
reviews per month                 float64
review rate number                  int64
calculated host listings count      int64
availability 365                    int64
dtype: object

In [20]:
df

,Unnamed: 0,id,NAME,host id,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,...,room type,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
0,0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,...,Private room,2020,966,193,10,9,0.21,4,6,286
1,1,1002102,Skylit Midtown Castle,52335172823,verified,Manhattan,Midtown,40.75362,-73.98377,False,...,Entire home/apt,2007,142,28,30,45,0.38,4,2,228
2,3,1002755,not mentioned,85098326012,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,...,Entire home/apt,2005,368,74,30,270,4.64,4,1,322
3,4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Manhattan,East Harlem,40.79851,-73.94399,False,...,Entire home/apt,2009,204,41,10,9,0.10,3,1,289
4,5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Manhattan,Murray Hill,40.74767,-73.97500,True,...,Entire home/apt,2013,577,115,3,74,0.59,3,1,374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100525,102594,6092437,Spare room in Williamsburg,12312296767,verified,Brooklyn,Williamsburg,40.70862,-73.94651,False,...,Private room,2003,844,169,1,0,0.00,3,1,227
100526,102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Manhattan,Morningside Heights,40.80460,-73.96545,True,...,Private room,2016,837,167,1,1,0.02,2,2,395
100527,102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Brooklyn,Park Slope,40.67505,-73.98045,True,...,Private room,2009,988,198,3,0,0.00,5,1,342
100528,102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Queens,Long Island City,40.74989,-73.93777,True,...,Entire home/apt,2015,546,109,2,5,0.10,3,1,386
100529,102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Manhattan,Upper West Side,40.76807,-73.98342,False,...,Entire home/apt,2010,1032,206,1,0,0.00,3,1,69

In [21]:
df['price'].max()

1200

In [22]:
df['price'].min()

50

In [23]:
df['price'].mean()

625.2665472993136

In [24]:
avg_df = df.groupby(['neighbourhood group', 'neighbourhood'])[['price', 'service fee', 'review rate number']].mean().reset_index()
avg_df.rename(columns={'neighbourhood group': 'borough', 'neighbourhood': 'neighborhood'}, inplace=True) 
avg_df['price'] = avg_df['price'].astype('int64')
avg_df['service fee'] = avg_df['service fee'].astype('int64')
avg_df['review rate number'] = avg_df['review rate number'].round(2)
avg_df.to_csv('Resources/avg.csv', index=False)
avg_df

           borough   neighborhood  price  service fee  review rate number
0            Bronx       Allerton    648          129                3.30
1            Bronx     Baychester    524          104                3.52
2            Bronx        Belmont    662          132                3.27
3            Bronx      Bronxdale    574          114                3.23
4            Bronx    Castle Hill    480           96                2.81
..             ...            ...    ...          ...                 ...
219  Staten Island    Tottenville    657          131                2.38
220  Staten Island  West Brighton    635          127                2.95
221  Staten Island    Westerleigh    477           95                3.60
222  Staten Island    Willowbrook    638          127                2.00
223  Staten Island        Woodrow    709          142                4.00

[224 rows x 5 columns]

In [25]:
avg_byroom_df = df.groupby(['neighbourhood group', 'neighbourhood', 'room type'])[['price', 'service fee', 'review rate number']].mean().reset_index()
avg_byroom_df.rename(columns={'neighbourhood group': 'borough', 'neighbourhood': 'neighborhood'}, inplace=True) 
avg_byroom_df.to_csv('Resources/avg_byroom.csv', index=False)
avg_byroom_df

,borough,neighborhood,room type,price,service fee,review rate number
0,Bronx,Allerton,Entire home/apt,572.285714,114.523810,3.238095
1,Bronx,Allerton,Private room,709.269231,141.884615,3.346154
2,Bronx,Baychester,Entire home/apt,510.307692,101.923077,3.692308
3,Bronx,Baychester,Private room,535.125000,107.187500,3.375000
4,Bronx,Belmont,Entire home/apt,799.333333,159.777778,2.888889
...,...,...,...,...,...,...
569,Staten Island,West Brighton,Private room,663.428571,132.738095,2.809524
570,Staten Island,Westerleigh,Entire home/apt,425.333333,85.333333,2.666667
571,Staten Island,Westerleigh,Private room,555.000000,111.000000,5.000000
572,Staten Island,Willowbrook,Entire home/apt,638.000000,127.666667,2.000000
573,Staten Island,Woodrow,Entire home/apt,709.333333,142.000000,4.000000

In [26]:
import geopandas as gpd

# Load GeoJSON data from a file or URL
geojson_url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.1/15-Mapping-Web/nyc.geojson"
gdf = gpd.read_file(geojson_url)

gdf

,neighborhood,boroughCode,borough,@id,geometry
0,Allerton,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.84860 40.87167, -73.84582 40.870..."
1,Alley Pond Park,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.74333 40.73888, -73.74371 40.739..."
2,Arden Heights,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.16983 40.56108, -74.16982 40.561..."
3,Arlington,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.15975 40.64142, -74.15998 40.641..."
4,Arrochar,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.06078 40.59319, -74.06079 40.593..."
...,...,...,...,...,...
305,Windsor Terrace,3,Brooklyn,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.98006 40.66075, -73.97988 40.660..."
306,Woodhaven,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.86233 40.69596, -73.85654 40.697..."
307,Woodlawn,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.85947 40.90052, -73.85926 40.900..."
308,Woodrow,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.17728 40.54063, -74.17723 40.539..."
309,Woodside,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.90087 40.75767, -73.90014 40.756..."